@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h3 {
    text-align: center;
    color: #333;
}

fieldset, #risultato {
    border: 5px solid #b7cfe9;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #ffffff;
}

legend {
    font-size: 25px;
    color: #007BFF;
    font-weight: bold;
}

.info, .risultato {
    width: 95%;
    padding: 10px;
    border: 1px solid #322799;
    font-size: 20px;
}

textarea {
resize: none;
}

#submit, #reset{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}